* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

.no-display {
    display: none;
}

.error {
    color: red;
}

/*****************************************Nav***************************/
.nav {
    background-color: #50723c;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: inline;
    width: 50px;
}

.nav-label{
    display: inline;
    font-size: 30px;
    align-self: center;
    padding-left: 10px;
}

nav h1 {
    margin: 5px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    position: relative;
}

.nav-home:hover {
    cursor: pointer;
}

.main-nav{
    display: flex;

}

/**********************************form*******************************/
form {
    margin-bottom: 35px;
}

/*************************************items****************************/
.logo{
    height: 150px;
    max-width: 100%;
}

.items ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.page-title {
    background-color: #d81e5b;
    color: white;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.items {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.item-card {
    width: 100%;
    min-width: 335px;
    min-height: 50px;
    background: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.item-card p {
    border-bottom: 1px lightgrey solid;
    padding-bottom: 5px;
}

.item-section {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.section-wrapper {
    width: 100%;
    margin: 20px;
    margin-top: 0px;
}

.section-title{
    border-bottom: 1px lightgrey solid;
    padding-bottom: 10px;
}

.teams-card {
    background-color: white;
}

.leagues-card:hover{
    cursor: pointer;
}

.schedule-card {
    background-color: white;
}

.schedule-card .date{
    border-top: 1px lightgrey solid;
    padding-top: 5px;
    margin-top: 5px;
}

.standings-table{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 30px;
}

.standings-table th {
    padding: 5px;
    font-weight: bold;
}

/***************************** MODAL********************/


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    text-align: center;
    width: 50%;
}

.modal-noDisplay {
    display: none;
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.player-table{
    margin: auto;
}

/*********************************media queries*******************************/

@media only screen and (min-width: 600px) {
    .items {
        flex-direction: row;
        justify-content: center;
    }

    .items-section {
        justify-content: flex-start;
    }

    .item-card {
        max-width: 47%;
    }

    .item-section .item-card {
        max-width: 45%;
    }

}

@media only screen and (min-width: 1280px) {
    .items {
        flex-direction: row;
        justify-content: center;
    }

    .items-section {
        justify-content: flex-start;
    }

    .item-card {
        max-width: 31%;
    }

    .item-section .item-card {
        max-width: 31%;
    }
}

@media only screen and (min-width: 1750px) {
    .items {
        flex-direction: row;
        justify-content: center;
    }

    .item-card {
        width: 23%;
    }

    .item-section .item-card {
        width: 23%;
    }

}